.container {
    width: 85%;
    padding-left: 5.15vw;
    &__header{
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        height: 4rem;
        font-size: 0.75rem;
        padding: 0 2rem;
        border-bottom: 2px solid #9b9b9b;
        &--current{
            color: #f56c2d;
            border-bottom: 2px solid #f56c2d;
            display: flex;
            width: 5rem;
            align-items: center;
            font-size: 0.8rem;
        
        }
        &--item{
            display: flex;
            flex-wrap: nowrap;
            width: 5rem;
            align-items: center;
            font-size: 0.8rem;
        }
    }

    &__communities{
        padding-top: 5rem;
        display: initial;
        position: relative;
        width: 15.6875rem;
        height: 15.0625rem;
        margin: 0 2rem 0 0;
        background-color: #6f6f6f;
        &--box{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 15.6875rem;
            height: 9.25rem;
            opacity: 0.8;
            background-color: #1e262c;
            color: #FFF;
        }
    }
    
}

.taglines{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 1rem;
    &__buttonconstraint{
        width: 12.5rem;
        text-align: end;
    }
    &__titles{
        text-align: left;
    }
    &__searched{
        color: #f56c2d;
    }
}