.navbarContainer {
  display: flex;
  height: 100vh;
}

.navbarleft {
  background-color: #1E262C;
  padding: 20px;
 
  display: inline-block;
  height: 100%;
}



.navigationbtn {
  display: block;
width: 100%;
color: #F8F8F8;
background-color:#1E262C ;
border: none;
padding-top: 1rem;
padding-bottom: 1rem;
transition: transform 0.2s ease-in-out;
}
.navigationbtn:hover {
  background-color: #575c61;
  transform: scale(1.1);
}
.navhead-searcharea{
    width: 80%;
    border-radius:0.25rem;
    display: inline-block;
    background-color: white;
    margin-bottom: 1rem;
   
}
.navhead-input{
  height: 2.25rem;
  width: 80%;
  border: none;
  border-radius:0.25rem;
  background-color: white;
}
.navhead-searchicon{
  vertical-align: middle;
  border: none;
 border-radius:0.25rem;
 
}
.featuresdisplay{
  display: flex;
  flex-direction: row;
}

.usercontent {
  flex: 1;
  padding: 20px;

}
.searchandbuttons{
  margin-top: 7rem;
}
.userprofile{
  margin-top: 18rem;
}



#headnav{
  font-size: 1rem;
  font-weight: 700;
  padding-left: 0;
  padding-right: 1rem;

}
.userprofile{
  width: 15.5rem;
}